.footer-bottom {
  background-color: #292435;
  color: white;
  padding: 5px;
}

.footer-bottom h2 {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

@media only screen and (min-width: 320px) and (max-width: 780px) {
  .footer-bottom h2 {
    margin: 0 auto;
    font-size: 10px;
  }
}
